.aws-sam/
__pycache__/
*.pyc
.env
venv/
.venv/
.venv-py39/
.pytest_cache/
.vscode/
.coverage
**/.DS_Store
.coveragerc
.coverage.*
layers/*/python/*/
!layers/*/python/requirements.txt
!layers/*/python/src
.samignore